body {
  font-family: Arial, sans-serif !important;
}
input:focus,
.ant-input:focus,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  outline: none !important;
  box-shadow: none !important;
}

.custom-sidebar-scroll::-webkit-scrollbar {
  display: none;
}

.custom-sidebar-scroll {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Ocultar scrollbar solo en el menú */
.menu-scroll-hidden::-webkit-scrollbar {
  display: none;               /* Chrome, Safari, Edge (Chromium) */
}

.menu-scroll-hidden {
  -ms-overflow-style: none;    /* IE y Edge Legacy */
  scrollbar-width: none;       /* Firefox */
}